.venv/
__pycache__/
.ipynb_checkpoints/

data/raw/
lakehouse/
reports/

metastore_db/
.local/
derby.log
spark-warehouse/
notebooks/spark-warehouse/

dbt/lakehouse_dbt/target/
dbt/lakehouse_dbt/dbt_packages/
*.duckdb

.DS_Store
