pyspark==3.5.1
delta-spark==3.2.0

jupyterlab==4.2.5
papermill==2.6.0

duckdb==1.1.3
pandas==2.2.2
pyarrow==17.0.0

dbt-duckdb==1.9.2

great-expectations==0.18.19

matplotlib==3.9.2

pyyaml==6.0.2
jsonschema==4.23.0
ruff==0.9.6